<!-- 2. Side Navigation (Dynamic Component) -->
<nav class="main-menu">
    <a href="/" class="logo-link">
        <img loading="lazy" class="logo" src="/Assets/image/Red_logo_algraphy.svg" alt="AlGraphy" width="45"
            height="45" />
    </a>
    <ul class="nav-list">
        <li class="nav-item" data-page="index">
            <b></b><b></b>
            <a href="./">
                <i class="fa fa-home nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="nav-item" data-page="profile">
            <b></b><b></b>
            <a href="profile">
                <i class="fa fa-user nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Profile</span>
            </a>
        </li>
        <li class="nav-item" data-page="hero_manage">
            <b></b><b></b>
            <a href="hero_manage">
                <i class="fa-solid fa-square-caret-up nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Hero section</span>
            </a>
        </li>
        <li class="nav-item" data-page="services_manage">
            <b></b><b></b>
            <a href="services_manage">
                <i class="fa fa-minus-square nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Services section</span>
            </a>
        </li>
        <li class="nav-item" data-page="projects_manage">
            <b></b><b></b>
            <a href="projects_manage">
                <i class="fa fa-list nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Projects</span>
            </a>
        </li>
        <li class="nav-item" data-page="inquiry_manage">
            <b></b><b></b>
            <a href="inquiry_manage">
                <i class="fa fa-envelope-open-text nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Inquiry</span>
            </a>
        </li>
        <li class="nav-item" data-page="clients_manage">
            <b></b><b></b>
            <a href="clients_manage">
                <i class="fa fa-building nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Client</span>
            </a>
        </li>
        <li class="nav-item" data-page="employees_manage">
            <b></b><b></b>
            <a href="employees_manage">
                <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Employees</span>
            </a>
        </li>
        <li class="nav-item" data-page="stats_manage">
            <b></b><b></b>
            <a href="stats_manage">
                <i class="fa fa-chart-line nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Stats</span>
            </a>
        </li>
    </ul>

    <ul class="logout-list">
        <li class="nav-item">
            <b></b><b></b>
            <a href="#" id="logoutBtn">
                <i class="fa fa-sign-out-alt nav-icon" aria-hidden="true"></i>
                <span class="nav-text">Log out</span>
            </a>
        </li>
    </ul>
</nav>